<div id="<%= dom_id philosopher %>">
  <p>
    <strong>P firstname:</strong>
    <%= philosopher.p_firstName %>
  </p>

  <p>
    <strong>P surname:</strong>
    <%= philosopher.p_surname %>
  </p>

  <p>
    <strong>P deathyear:</strong>
    <%= philosopher.p_deathYear %>
  </p>

  <p>
    <strong>P bio:</strong>
    <%= philosopher.p_bio %>
  </p>

  <p>
    <strong>P year:</strong>
    <%= philosopher.p_year %>
  </p>

</div>
