<h3 style="padding-top: 10px;">Search for quotes by category</h3>
<%= form_tag search_path, method: :get do %>
<div class="form-group" style="padding-bottom: 10px;">
<%= text_field_tag :category_query, params[:category_query], placeholder: 'Enter
a Category', class: "form-control" %>
</div>
<%= submit_tag 'Search Quotes by Category', class: "btn btn-primary" %>
<% end %>

<!-- The line below checks that the form has been submitted by checking the existence of
a params[:category_query] object, which will return either true of false; if false, no
part of the code that follows will be executed -->
<% if params[:category_query].present? %>
<!-- The line below checks that recipe(s) containing the ingredient were in fact
found as indicated by @recipematch.present? returning either true of false; if true,
execute the if block of code, and if false, execute the else block of code -->
<% if @quotesmatch.present? %>
<h4 style="padding-top: 15px;">Results:</h4>
<!-- Cycle through each quote returned and print its text
to the view -->
<% @quotesmatch.each do |quote| %>
<h5 class="text-primary"><%= quote.quote_txt %></h5>
#OpenAI.(2024).Syntax generated [AI-generated .txt file]. Generated using ChatGPT, provided by OpenAI.
<p><%= quote.user_comm %> <a href="#">Read full quote</a></p>
<br />
<% end %>
<% else %>
<p>No matching quotes found.</p>
<% end %>
<% end %>