<div id="<%= dom_id quote %>">
  <p>
    <strong>Quote txt:</strong>
    <%= quote.quote_txt %>
  </p>

  <p>
    <strong>User comm:</strong>
    <%= quote.user_comm %>
  </p>

  <p>
    <strong>User:</strong>
    <%= quote.user_id %>
  </p>

  <p>
    <strong>Philosopher:</strong>
    <%= quote.philosopher_id %>
  </p>

</div>
